<form action="/newUser" method="POST">
    <input type="text" name="ci" placeholder="Escribe tu cedula">
    <input type="text" name="nombre" placeholder="escribe tu nombre">
    <input type="text" name="direccion" placeholder="esribe tu direccion">
    <input type="text" name="ciudad" placeholder="escribe tu ciudad">
    <input type="text" name="email" placeholder="escribe tu email">
    <input type="text" name="telefono" placeholder="escribe tu telefono">
    <input type="text" name="usuario" placeholder="escribe tu usuario">
    <input type="text" name="contraseña" placeholder="escribe tu contraseña">
    <select name="id_roll" aria-placeholder="seleccione su roll">
        <option value="1">normal</option>
        <option value="2">empleado</option>
    </select>
    <button>save</button>
</form>